body{
  background: #285469;
background: linear-gradient(90deg, rgba(40, 84, 105, 1) 0%, rgba(106, 44, 133, 1) 89%);
  background-size: 300% 300%; /* hace que el gradiente sea m치s grande */
  animation: moverFondo 10s ease infinite;
}
.container{
    margin-top: 150px;
}



.input-group {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 15px auto;   /* auto lo centra */
    display: flex;
    flex-direction: column;
    align-items: center; /* centra el label si lo necesitas */
}

.inputlogin {
    border: solid 1.9px white;
    border-radius: 1rem;
    background: none;
    padding: 1.2rem 1.5rem; /* m치s espacio interno = m치s alto y ancho */
    font-size: 1.2rem;      /* aumenta tama침o de texto */
    color: #f5f5f5;
    width: 100%;            /* ocupa todo el ancho disponible */
   
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label{
    
    position: absolute;
    left: 15px;
    color: white;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.inputlogin:focus, .inputlogin:valid{
    outline: none;
    border: 1.9px solid white;
}

.inputlogin:focus ~ label,.inputlogin:valid ~ label{
    transform: translateY(-10%) scale(0.8);
  background-color: transparent;
    padding: 0.4rem;
    color: white;
}


@keyframes moverFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.button-login{
  color: white;
  border: solid 1px white;
  margin: .5rem;
  padding: .5rem;
  background-color: transparent;
  border-radius: 12px;
}

.button-login:hover{
  background-color: white;
  color: black;
}