.table-wrapper {
  width: 100%;
  overflow-x: auto;
  
  border-radius: 1rem;
  padding: 0;
  box-sizing: border-box;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  border-radius: rem;
  overflow: hidden;
}

.custom-table thead {
  background-color: var(--color-azul-obscuro);
  color: white;
}

.custom-table tbody {
   border: 1px solid white;
}

.custom-table td{
   border:1px solid black;
}

.custom-table th,
.custom-table td {
  padding: 1rem;
 
  text-align: center;
}

.custom-table th:first-child {
  border-top-left-radius: 1rem;
}

.custom-table th:last-child {
  border-top-right-radius: 1rem;
}

.custom-table tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

.custom-table tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}





.icono-trash {
  color: red;
  transition: all 0.3s ease;
  padding: 0.5rem;
  border-radius: 20%;
}



.icono-trash:hover {
 color: white;
  background-color: red;
  cursor: pointer;
}
.edit-icon{
 color: var(--color-amarillo); 
 transition: all 0.3s ease;
  padding: 0.5rem;
  border-radius: 20%;
}

.edit-icon:hover{
  color: white;
  background-color: var(--color-amarillo);
  cursor: pointer;
}



   #Layot-form:hover{
   
      cursor:pointer;
   }

   .purplecolor:hover{
    background-color:#e7c3ff ;
   
   }


  
     
  
 

   .row {
      width: 100%; 
      margin: 0;
  }

  .container-pers{
   background-color: #3a3EC8;
  }

  #filterNav{
    cursor: pointer;
  }


.nav-link.active-link {
    border-bottom: 3px solid #ffffff;
}

.enlace-a a {
    display: inline-block; /* necesario para que transform funcione correctamente */
    transition: transform 150ms ease-in-out;
    color: black;
}

.enlace-a a:hover {
    transform: scale(1.1) translateX(50px); /* escala suave y leve movimiento a la derecha */
   
}

.enlace-a-left a{
   display: inline-block; /* necesario para que transform funcione correctamente */
    transition: transform 150ms ease-in-out;
    color: black;
}

.enlace-a-left a:hover {
    transform: scale(1.1) translateX(-50px); /* escala suave y leve movimiento a la derecha */
}

.tesis-item{
  border: 1px solid var(--color-morado-3);
  padding: 2.4rem;
  border-radius: 40px;
  box-shadow: -10px 10px 5px var(--color-morado-2);

  
}
.tesis-item-title{
  font-family: Merriweather Sans, Arial, Helvetica, sans-serif;
  font-weight: 1000;
  font-size: 1.9rem;
  color: var(--color-morado-1);
}

.tesis-item summary{
  padding-top: 1.6rem;
  font-family: Merriweather Sans, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: var(--color-morado-1);
}

.tesis-item strong{
  color: var(--color-morado-2);
  font-family: Merriweather Sans, Arial, Helvetica, sans-serif;
  font-weight: semibold;
}

.descripcion-span{
  color: var(--color-morado-3);
  font-family: Merriweather Sans, Arial, Helvetica, sans-serif;
}

.btn-avance{
  text-decoration: none;
  border: 1px solid var(--color-morado-3);
  padding: .4rem;
  background-color: var(--color-morado-3);
  border-radius: 5px;
  color: white;
  font-size: .9rem;
  font-family: Merriweather Sans, Arial, Helvetica, sans-serif;
  margin-left: 25rem;
  margin-top: 3rem;
  transition: ease-in 100ms;
}

.btn-avance:hover{
  background-color: white;
  color: var(--color-morado-3);
 
}

.pestañas-nav{
 color: var(--color-morado-1);
}

.pestañas-nav:hover{
  background-color: var(--color-morado-4);
  color: white;
  transition: ease-in 100ms;
}

