:root {
  --color-azul-principal: #3498db;
  --color-azul-obscuro: #355C7D;
  --color-belize: #2980b9;
  --color-verde-Nephiris: #27ae60;
  --color-coral: #ecf0f1;
  --color-amathyst: #9b59b6;
  --color-wet-asphalt: #34495e;
  --color-midnight: #2c3e50;
  --color-delete: #c0392b;
  --color-amarillo:#f1c40f;
  --color-tablas:#1C2C40 ;
  
  
}



#SistesisTitulo{
   background: linear-gradient(90deg, var(--color-azul-principal), var(--color-verde-Nephiris));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


